.grid-container-div {
  margin: 2vh 2vw;
  color: purple;
}

.grid {
  margin: auto;
  width: 90vw;
  height: 90vh;
  border-collapse:collapse ;
  border-style: solid;
  border-color: black;
  border-width: thin;
  table-layout: auto;
  /* background-color: white; */
}

.grid td {
    border-radius: 5em;

}

.pulse {
  background-color: red;
}


.main {
  /* background: radial-gradient(ellipse at center, #7d7e7d 0%,#0e0e0e 100%); */
}

.testpulse {
  /* margin:100px; */
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url("https://i.stack.imgur.com/frGqG.png") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.xxpulse {
  /* margin:100px; */
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(#9EBEFD 5%, #B6FE94 15%, white 60%);
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse .5s infinite;
}

/* .pulse:hover {
  animation: pulse .5s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 1000px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
} */

.hide-cursor {
    cursor: none;
}
